* {
	font: 15px "Lucida Grande", Lucida, Verdana, sans-serif;
}
body {
	background: #f8f8f8;
}
.quotes {
	color: #aaaaaa;
	text-shadow: 0 1px 0 white;
	margin-top: 100px;
}
img.braid {
	display: block;
	margin: 0 auto;
	padding-right: 25px;
	margin-top: -215px;
	margin-bottom: 200px;
}
img.way {
	display: block;
	margin: 0 auto;
	margin-top: 200px;
}