* {
  margin: 0;
  padding: 0;
  color: #1a1a1a;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.clearBoth {
  clear: both;
}
body {
  background: url("img/BG.jpg") #f1f1f1 repeat;
}
.pageContainer .page {
  margin: 0 auto;
  text-align: center;
  width: 960px;
}
.pageContainer .page nav {
  margin-top: 100px;
  margin-left: 120px;
}
.pageContainer .page nav a {
  float: left;
  margin-right: 23px;
  opacity: 0.5;
}
.pageContainer .page nav a:hover {
  opacity: 1;
}
.pageContainer .page nav a.seperator {
  width: 0;
  height: 95px;
  margin-top: -21px;
  border-left: solid 1px #cbcbcb;
  border-right: solid 1px white;
}
.pageContainer .page nav a.blog {
  background: url("img/blog.png") no-repeat;
  background-position: 0px -57px;
  width: 105px;
  height: 57px;
}
.pageContainer .page nav a.blog:hover {
  background-image: url("img/blog.png") no-repeat;
  background-position: 0px 0px;
}
.pageContainer .page nav a.tavsiyeler {
  background: url("img/tavsiyeler.png") no-repeat;
  background-position: 0px -57px;
  width: 152px;
  height: 57px;
}
.pageContainer .page nav a.tavsiyeler:hover {
  background-image: url("img/tavsiyeler.png") no-repeat;
  background-position: 0px 0px;
}
.pageContainer .page nav a.projelerim {
  background: url("img/projelerim.png") no-repeat;
  background-position: 0px -57px;
  width: 165px;
  height: 57px;
}
.pageContainer .page nav a.projelerim:hover {
  background-image: url("img/projelerim.png") no-repeat;
  background-position: 0px 0px;
}
.pageContainer .page nav a.hakkimda {
  background: url("img/hakkimda.png") no-repeat;
  background-position: 0px -57px;
  width: 152px;
  height: 57px;
}
.pageContainer .page nav a.hakkimda:hover {
  background-image: url("img/hakkimda.png") no-repeat;
  background-position: 0px 0px;
}
.pageContainer .page .body img.life {
  margin-top: 30px;
}
