@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
  font: 13px Helmet, Freesans, sans-serif;
}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */
/* We like off-black for text. */
body, select, input, textarea {
  color: #333;
}

a {
  color: #03f;
}

a:hover {
  color: #69f;
}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #00BBBC;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #00BBBC;
  color: #fff;
  text-shadow: none;
}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a9a9a9;
}

textarea:-moz-placeholder {
  color: #a9a9a9;
}

body.languruAppPage .wrapper {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 50px;
}
body.languruAppPage .wrapper .appIcon {
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 32px 32px;
  -moz-border-radius: 32px / 32px;
  border-radius: 32px / 32px;
}
body.languruAppPage .wrapper .appName {
  margin-top: 10px;
  font-weight: 300;
  font-size: 48px;
  color: #2c7fb7;
}
body.languruAppPage .wrapper .appShortDescription {
  display: inline-block;
  margin-top: 10px;
  max-width: 610px;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
}
body.languruAppPage .wrapper a.appStoreLinkButton {
  display: inline-block;
  width: 300px;
  height: 56px;
  margin-top: 25px;
}
body.languruAppPage .wrapper a.appPreviewContainer {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
body.languruAppPage .wrapper a.appPreviewContainer img.playButtonMobile {
  position: absolute;
  top: 243px;
  left: 87px;
  z-index: 3;
}
@media (min-width: 636px) {
  body.languruAppPage .wrapper a.appPreviewContainer img.playButtonMobile {
    display: none;
  }
}
body.languruAppPage .wrapper a.appPreviewContainer img.playButton {
  display: none;
}
@media (min-width: 636px) {
  body.languruAppPage .wrapper a.appPreviewContainer img.playButton {
    display: block;
    position: absolute;
    top: 385px;
    left: 239px;
    z-index: 3;
  }
}
@media (min-width: 636px) {
  body.languruAppPage .wrapper a.appPreviewContainer img.iPhone {
    position: absolute;
    top: 142px;
    left: 152px;
    z-index: 2;
  }
}
body.languruAppPage .wrapper a.appPreviewContainer img.iPadFrame {
  display: none;
}
@media (min-width: 636px) {
  body.languruAppPage .wrapper a.appPreviewContainer img.iPadFrame {
    display: block;
  }
}
body.languruAppPage .wrapper .footerText {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: #4d4d4d;
}
body.languruAppPage .wrapper .footerText .title {
  font-weight: 400;
  color: #2c7fb7;
}

.wrapper {
  max-width: 960px;
  padding: 0px 15px;
  margin: 0px auto;
  text-align: center;
}
